<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <style>
        #current_lat{ 
            display: none;
        }
        #current_lng{ 
            display: none;
        }
        #map{
            height: 100%;
            width: 100%;
        }
        body, html {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    {% for item in animals %} 
    <p id="current_lat">{{item.current_lat}}</p>
    <p id="current_lng">{{item.current_lng}}</p>
    {% endfor %}
    <div id="map"></div>
    <script>
        function initMap() {
            //Map Options
            var options = {
                zoom: 10,
                center: {
                    lat: 49.838322, lng: 73.115601
                },
                streetViewControl: false, 
                mapTypeId: "satellite"
            }

            //New Map
            var map = new google.maps.Map(document.getElementById('map'), options);




            //Add Marker
            /*var marker = new google.maps.Marker({
                position: {
                    lat: 42.4668, lng: 70.9495  
                },
                map: map,
                icon: {
                    url: 'https://img.icons8.com/color/96/000000/horses-sign.png',
                    scaledSize: new window.google.maps.Size(70, 70)}
            })


            //Info Window
            var infoWindow = new google.maps.InfoWindow({
                content: 'Состояние батареи: '
            })
            marker.addListener('click', function() {
                infoWindow.open(map, marker);
            });*/

        addMarker();

        
        function addMarker() {
            for (let i = 0; i < 2; i++) {
                console.log(document.getElementById('current_lat').innerHTML)
                var marker = new google.maps.Marker({
                position: {
                    lat: parseInt(document.getElementById('current_lat').innerHTML), lng:parseInt(document.getElementById('current_lng').innerHTML)
                },
                map: map,
                icon: {
                    url: 'https://img.icons8.com/color/96/000000/horses-sign.png',
                    scaledSize: new window.google.maps.Size(70, 70)}
                })
            }  
        }
    }
    </script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8gYHQggRVm5HmlLmPy4MQeyQ59B0AVIY&callback=initMap&v=weekly"
    async
    ></script>
</body>
</html>